
.about-section {
  background-color: #222831;
  width: 100%;
  height: 1024px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding-left: 96px;
}


.about-section .center-line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.4); 
  left: 512px;
  top: 0;
  z-index: 1;
}

.section-divider {
  width: 100%;
  max-width: 1440px;
  height: 1px;
  background-color: #EEEEEE;
  opacity: 0.1;
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: block;
}


.about-content {
  position: absolute;
  top: 256px;
  left: 96px;
  width: 389px;
  z-index: 10;
}

.about-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.about-title span {
  color: #00ADB5;
}

.about-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  transition: all 0.3s ease;
}

.about-description.expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  display: block;
}

.read-more {
  display: inline-block;
  font-weight: 700;
  color: #00ADB5;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
}

.read-more:hover {
  color: #FFFFFF;
}


.about-visual {
  position: absolute;
  width: 680px;
  height: 500px;
  top: 230px;
  left: 675px;
  z-index: 5;
}

.man-with-shadow {
  position: absolute;
  top: 224px;
  left: 108px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-man-main {
  width: 412.68px;
  height: auto;
}

.about-shadow {
  width: 300px;
  height: 20px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  filter: blur(3px);
  margin-top: -2px;
}


.doodle-music {
  position: absolute;
  width: 61.54px;
  height: 46.57px;
  top: 135px;
  left: 96px;
  opacity: 0.5;
}

.doodle-light {
  position: absolute;
  width: 57.33px;
  height: 88.16px;
  top: 247.14px;
  left: 444.68px;
  transform: rotate(-14.82deg);
}

.doodle-arrow {
  position: absolute;
  width: 112.72px;
  height: 169.89px;
  top: 606px;
  left: 257px;
  transform: rotate(-200.55deg);
  opacity: 0.4;
}

@media (max-width: 992px) {
  .about-section {
    height: auto;
    flex-direction: column;
    padding: 60px 24px;
    align-items: center;
    display: flex;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about-content {
    position: relative; 
    top: 0; 
    left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 0;
  }

 .about-visual {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    max-width: 450px;
    margin: 40px auto;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .doodle-bg {
    position: relative; 
    width: 100%;
  }

  .man-with-shadow {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%); 
    width: 80%;
  }

  .about-man-main {
    width: 100%; 
  }

  .about-shadow {
    width: 70%;
    margin-top: -6px; 
  }

 
  .center-line, .doodle-music, .doodle-light, .doodle-arrow { 
    display: none; 
  }
  .about-description {
    font-size: 16px;
  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
    overflow: hidden;
  }

  .about-description.expanded {
    display: block;
    -webkit-line-clamp: unset;
    line-clamp: unset;
  }
}

@media (max-width: 480px) {
  .about-title { 
    font-size: 36px; 
  }
  .about-description {
    font-size: 16px;
  }
  .about-visual {
    height: 300px;
  }
}