.footer-section {
  width: 100%;
  background-color: #222831; 
  display: flex;
  justify-content: center;
  padding: 60px 0;

  position: relative; 
  overflow: hidden; 
}

.footer-container {
  width: 100%;
  max-width: 1440px; 
  display: flex;
  flex-direction: column;
  z-index: 2;
}


.background-vertical-line {
  position: absolute;
  width: 1px;
  height: 600px; 
  background-color: #EEEEEE;
  opacity: 0.1; 
 
  left: 512px; 
  top: 0;
  z-index: 1;
}


.frame-23-nav {
  display: flex;
  flex-direction: row;
  margin-left: 380px; 
  gap: 48px !important; 
  margin-bottom: 24px;
}


.frame-28-socials {
  display: flex;
  flex-direction: row;
  margin-left: 450px; 
  gap: 24px !important; 
  margin-bottom: 80px;
}

.circle-social-icon {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: #393E46;
  display: flex;
  justify-content: center;
  align-items: center;
}


.policy-text {
  align-self: flex-end; 
  margin-right: 40px; 
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #EEEEEE;
  opacity: 0.75;
}


@media (max-width: 1024px) {
  .background-vertical-line {
    left: 100px; 
  }
  .frame-23-nav, .frame-28-socials {
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .background-vertical-line {
    display: none; 
  }
  .footer-container {
    align-items: center;
  }
  .frame-23-nav, .frame-28-socials {
    margin-left: 0;
    justify-content: center;
  }
  .policy-text {
    align-self: center;
    margin-right: 0;
    font-size: 16px;
  }
}